/target
Cargo.lock

# AoC 2022 day 19, I use the "good_lp" crate which require some external solver.
# I downloaded it here from  https://github.com/coin-or/Cbc/releases
/Cbc-releases.*
# And I added its "bin" subfolder to my PATH.

# Puzzle descriptions for offline use.
/html

# Puzzle inputs to solve them.
/inputs
# Test other inputs.
/cli-runner/tests
# See https://www.reddit.com/r/adventofcode/wiki/faqs/copyright/inputs/

# I use a Sublime Text project to manage this workspace.
*.sublime-*

# I used a python script and now a rusty one for fun (with "inquire" for nice prompts,
# "time" to know year/month and "tinytemplate"/"serde" for basic templates)
# to create a project for a new AoC puzzle and fully update "cli-runner" files.
*.py
*.exe
# But accept exceptional scripts.
!/aoc20*/day*/*.py
